{% extends "base.html" %}

{% block title %}
Discover Innovation &#8594; Deliver Success
{% endblock %}

{% block content %}
<div class="row d-flex align-items-center" style="min-height: 500px;">
    <div class="col-md-4">
        <h3 class="text-center font-weight-light">{{ info.message }}</h3>
        <h5 class="text-center font-weight-light font-italic mt-4">{{ info.message_timestamp }}</h5>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
{% endblock %}
