{% extends "base.html" %}

{% block title %}
Discover Innovation &#8594; Deliver Success
{% endblock %}

{% block content %}
<div class="row d-flex align-items-center h-100 text-center" >
    <div class="col-md-8">
        <h3 class="font-weight-light" id="messageField">{{ info.message }}</h3>
        <h5 class="font-weight-light font-italic mt-4">{{ info.message_timestamp }}</h5>
        <canvas id="canvas-filtered" class="w-60 border border-primary rounded" width="640" height="480"></canvas>
        <video autoplay="true" id="videoElement" class="w-60 border border-primary rounded d-none" width="640" height="480"></video>
    </div>
    <div class="col-md-4 text-center">
        <h3 class="font-weight-light">Visitors</h3>
        <canvas id="canvas" class="d-none"></canvas>
        <div class="row" id="visitors"></div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script async src="https://docs.opencv.org/3.4/opencv.js" onload="processVideo();" type="text/javascript"></script>
<script>
    var seconds_check = 60000;
    var message = document.getElementById('messageField').innerHTML;
    $(document).ready(function() {
        setInterval(function() {
            $.ajax({
              url: "{% url 'assistant:check-for-update' %}",
              dataType: "json",
              success: function(json) {
                  if (message != json['message']) {
                      window.location = window.location.href;
                  }
              }
          });
      }, seconds_check);
    });
</script>
<script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
       navigator.mediaDevices.getUserMedia({
           video: {
              facingMode: "user",
              width: { ideal: 640 },
              height: { ideal: 480 },
           }
       })
       .then(function (stream) {
           video.srcObject = stream;
       })
       .catch(function (error) {
           console.log("Something went wrong!");
       });
    }
</script>
<script>
    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    };
    var seconds = 1000;
    var video = document.querySelector('#videoElement');
    var canvas = document.querySelector('#canvas');
    var firstRequest = true;
    $(document).ready(async function() {
        await sleep(5000);
        setInterval(function() {
            canvas.width = video.videoWidth;
        	canvas.height = video.videoHeight;
        	canvas.getContext('2d').drawImage(video, 0, 0);

        	var data = canvas.toDataURL('image/jpeg', 1.0);

        	var formData = new FormData();
            if (firstRequest) formData.append('firstRequest', firstRequest);
            firstRequest = false;
        	formData.append('imageBase64', data);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

        	$.ajax({
        	   url: "{% url 'assistant:detect-face' %}",
           	   data: formData,
        	   cache: false,
        	   contentType: false,
        	   processData: false,
        	   dataType: "json",
        	   type: "POST",
        	   success: function (data) {
                   if (data.hasOwnProperty('visitors')) {
                       var container = document.querySelector('#visitors');
                       while (container.firstChild) {
                           container.removeChild(container.firstChild);
                       }
                       for (let i = 0; i < data['visitors'].length; i++) {
                           let node = document.createElement('div');
                           node.className = 'col-md-4';
                           node.setAttribute('width', '180px');
                           node.setAttribute('height', '180px');

                           let c = document.createElement('canvas');
                           c.className = 'w-100 border border-primary rounded mt-3';
                           c.setAttribute('width', '180px');
                           c.setAttribute('height', '180px');
                           let ctx = c.getContext("2d");
                           let image = new Image();
                           image.onload = function() {
                               ctx.drawImage(image, 0, 0);
                           };
                           image.src = data['visitors'][i];

                           let p = document.createElement('p');
                           p.className = 'font-weight-light text-center';
                           p.innerHTML = data['time'][i];

                           node.appendChild(c);
                           node.appendChild(p);
                           container.appendChild(node);
                       }
                   }
        	   }
        	});
        }, seconds);
    });
</script>
<script>
    var canvasFiltered = document.querySelector('#canvas-filtered');
    let videoInput = document.getElementById('videoElement');
    canvasFiltered.width = videoInput.width;
    canvasFiltered.height = videoInput.height;
    // based on https://docs.opencv.org/3.4/de/df4/tutorial_js_bg_subtraction.html
    async function processVideo() {
        // wait for opencv loading
        if (typeof cv.Mat != "undefined") {
            let cap = new cv.VideoCapture(videoInput);
            let frame = new cv.Mat(videoInput.height, videoInput.width, cv.CV_8UC4);
            let fgmask = new cv.Mat(videoInput.height, videoInput.width, cv.CV_8UC1);
            let fgbg = new cv.BackgroundSubtractorMOG2();
            let final = new cv.Mat(videoInput.height, videoInput.width, cv.CV_8UC4);
            let dst = new cv.Mat(videoInput.height, videoInput.width, cv.CV_8UC4);
            let ksize = new cv.Size(3, 3);
            while (1) {
                try {
                    cap.read(frame);
                    fgbg.apply(frame, fgmask);
                    //cv.bitwise_or(frame, frame, final, fgmask);
                    cv.medianBlur(fgmask, dst, 3);
                    //cv.GaussianBlur(fgmask, dst, ksize, 0, 0, cv.BORDER_DEFAULT);
                    cv.imshow('canvas-filtered', dst); // cv.bitwise_or(frame, frame, mask=fgmask)
                } catch (err) {
                    console.log(err);
                }
                // schedule the next one
                const FPS = 30;
                let delay = 1000/FPS;
                await sleep(delay);
            }
            frame.delete(); fgmask.delete(); fgbg.delete(); dst.delete(); final.delete();
        }
        else {
            setTimeout(processVideo, 5000);
        }
    }
</script>
{% endblock %}
